@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.center{
  text-align:center;
}
html,body{
  background:black;
  
}
tw-expression {
    position: initial;
    display: block;
    margin-bottom: -10px;
}
tw-link{
  color:#0092be;
  text-decoration:underline;
  font-family: 'Source Sans Pro', sans-serif;
}
tw-link:hover{
  color:#3dc4b6;
}
.no-line tw-expression{
    position: relative;
    display: inline;
    margin-bottom: auto;
}
/*.no-line tw-expression:first-of-type:before {
    content: "";
    display: none;
    width: 0;
    height: 0;
}
tw-expression:first-of-type:before {
    content: " ";
    display: block;
    width: 125px;
    height: 2px;
    background: #3dc4b6;
    margin: 20px 0px;
}*/
tw-story{
  transition: all .5s;
  font-family: 'Source Sans Pro', sans-serif;
}
tw-story[tags="wrong"]{
  background:#3e060640;
}
img{
  max-width:80%;
  max-height: 400px;
  margin-bottom: 50px;
}